main {
	position: relative;
	top: 3rem;
}

#bio {
	display: flex;
	margin: auto;
}

.bioImg {
	display: flex;
}

.bioImg img {
	margin: auto;
}

.bioText p {
	margin: 1rem;
}

/*Desktop*/
@media only screen and (min-device-width:641px) {

#bio {
	flex-direction: row;
	width: 90%;
}

.bioImg {
	width: 55%;
}

.bioImg img {
	width: 500px;
	height: 720px;
}

.bioText {
	width: 45%;
}

}

/* Mobile */
@media only screen and (max-device-width: 640px) {

#bio {
	flex-direction: column;
}

}