/* general */

html {
	
	
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: transparent;
}

main {
	display: flex;
	flex-direction: column;
}

.description {
	font-size: 1.5rem;
	position: absolute;
}

#enter {
	position: relative;
	font-size: 1rem;
}

/* Featured media */
.featuredMedia {
	display: flex;
	flex-direction: column;
	position: relative;
	top: 110vh;
	margin: auto;
	scroll-margin-top: 5rem;
	padding-bottom: 18vh;
}

/*Desktop*/
@media only screen and (min-device-width:641px) {

html {
	background-image: url("https://naomi-nakanishi.vercel.app/resources/images/DSC_8184-Edit.jpeg");
	background-size: cover;
}

.description {
	right: 4rem;
	left: auto;
	top:;
	bottom: 30vh;
}

#enter {
	margin-right: 5vw;
	margin-left: auto;
	top: 58vh;
	bottom: 42vh;
}

.featuredMedia iframe {
	margin: auto;
	padding: 1rem;
	width: 60vw;
	height: 35vw;
}

}

/* Mobile */
@media only screen and (max-device-width: 640px) {

html {
	background-image: url("https://naomi-nakanishi.vercel.app/resources/images/DSC_8222-Edit.jpeg");
	background-size: cover;
	background-position-x: 40%;
}

.featuredMedia iframe {
	margin: auto;
	padding: ;
	width: 95vw;
	height: 55vw;
}

#enter {
	margin: auto;
	margin-top: 60vh;
	
}

}