/* general */

html {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: transparent;
}

main {
	display: flex;
	flex-direction: column;
}

.description {
	position: absolute;
}


/* Featured media */

footer {
	display: flex;
position: relative;
top: 80vh;
	
}

/*Desktop*/
@media only screen and (min-device-width:641px) {

html {
	background-image: url("https://naomi-nakanishi.vercel.app/resources/images/HomePage.jpeg");
	background-size: cover;
}

.descriptionDesktop {
	right: 3.5rem;
	left: auto;
	top: 55vh;
	bottom: 30vh;
	font-size: 2rem;
	position: absolute;
	font-family: Quicksand;
}

.descriptionMobile {
	display: none;
}


footer {
}

}

/* Mobile */
@media only screen and (max-device-width: 640px) {

html {
	background-image: url("https://naomi-nakanishi.vercel.app/resources/images/HomePage(1).jpeg");
	background-size: cover;
/*	background-position-x: -20px;
	background-position-y: px;
	background-size: 600px;*/
}

.descriptionDesktop {
	display: flex;
	margin: auto;
	position: relative;
	top: 70vh;
	font-size: 1.2rem;
}

.descriptionMobile {
	display: none;
	flex-direction: column;
	position: absolute;
	text-align: right;
	bottom: 7rem;
	margin-left: 52vw;
	font-family: Quicksand;
	font-size: 2.4rem;	
}

.descriptionMobile span {
	margin-bottom: .4rem;
}

.socialLinks {
	position: ;
	top: .5rem;
	margin: auto;
	transform: scale(.8);

}

footer {

}

}