.listen {
	position: relative;
	top: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.listenSection {
	display: flex;
	flex-direction: column;

	max-width: 1000px;
	background: rgb(163, 146, 166, 1.0);
	margin-bottom: 1rem;
	padding-left: ;
}

.title h2 {
	
	margin: 0.5rem;
	margin-left: rem;
}

.listenMain {
	display: flex;
	
	justify-content: center;
	align-items: center;
	width: ;
	margin: rem;
}

.left {
	margin-right: rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.left img {
	height: ;
	margin: rem;
}

.right {
	display: flex;
	flex-direction: column;
}



.inner .innerSecond .innerThird {
	position: relative;
}

.albumContainer {
	margin-bottom: 2rem;
	display: flex;
}

.albumContainer p {
	margin-bottom: 1rem;
}

.albumContainerLeft {
	display: flex;
	flex-direction: column;
}

.albumContainerRight {
	display: flex;
	flex-direction: column;
	margin-left: 1rem;
}

.button {
	position: relative;
	top: 0rem;
}

/* Toggle code*/
.inner {
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 0.5s ease-out;	
}

.firstDiv {
	overflow: hidden;
	display: flex;
	flex-direction: row;
}

[id="first"]:checked ~ .inner {
 	grid-template-rows: 1fr;
 }

[id="first"]:checked ~ label.first i {
 	transform: rotate(-180deg);
 	transition: transform 0.5s;
}

.innerSecond {
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 0.5s ease-out;	
}

.secondDiv {
	overflow: hidden;
	display: flex;
	flex-direction: row;
}

[id="second"]:checked ~ .innerSecond {
 	grid-template-rows: 1fr;
 }

[id="second"]:checked ~ label.second i {
 	transform: rotate(-180deg);
 	transition: transform 0.5s;
}

.innerThird {
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 0.5s ease-out;	
}

.thirdDiv {
	overflow: hidden;
	display: flex;
	flex-direction: row;
}

[id="third"]:checked ~ .innerThird {
 	grid-template-rows: 1fr;
 }

[id="third"]:checked ~ label.third i {
 	transform: rotate(-180deg);
 	transition: transform 0.5s;
}
/*   */

/*Desktop*/
@media only screen and (min-device-width:641px) {

.title h2 {
	font-size: 2rem;
	margin-left: 1rem;
}

.listenMain {
	flex-direction: row;
}

.listenSection {
	width: 80%;
}

.button {
	margin-left: 7%;
	position: relative;
	top: rem;	
}

.left {
	width: 28%;
}

.left img {
	width: 95%;
}

.right {
		width: 70%;
	min-width: 400px;
	height: 95%;
}

.right iframe {
	width: 100%;
	height: 267px;
}

.albumContainer {
	flex-direction: row;
	justify-content: space-between;
	align-items: end;
}

.albumContainerLeft {
	width: 65%;
}

.albumContainerRight {
	width: 30%;
}

}

/* Mobile */
@media only screen and (max-device-width: 640px) {

.listenMain {
	flex-direction: column;
}

.listenSection {
	width: 90%;
}

.title h2 {
	font-size: 1.2rem;
}

.left {
	width: 85%;
	margin-bottom: 1rem;
}

.left img {
	width: 95%;
}

.right {
	width: 96%;
	justify-content: center;
}

.right iframe {
	width: ;
	height: 300px;
}

.button {
	margin: 10px auto 10px auto;
}

.albumContainer {
	flex-direction: column;
	margin-top: 2rem;

}

.albumContainerLeft {
	width: 85%;
	margin-left: 1rem;
}

.albumContainerLeft h2 {
	display: none;
}

.albumContainerRight {
	width: 90%;
}

}