.pressNav {
	background: rgb(163, 146, 166, 1.0);
	width: 92%;
	height: 7rem;
	margin: auto;
	margin-top: 1rem;
	display: flex;
	margin-bottom: 2rem;
	margin-top: 2rem;
}

.pressNav nav {
	display: flex;
	width: 100%;


}

.pressNav ul {
	flex-direction: column;
	margin-left: 4rem;
	justify-content: center;

}

.pressNav li {
	margin: .2rem;
}

section h2 {
	margin-bottom:;
	font-size: 2rem;
}

/* Gallery */

/*exp gallery*/
label[for="second"] {
	display: flex;
	height: 4rem;
 	font-size: 1.5rem;
  align-items: center;
  color: white; 
}

label i {
	margin-left: 1rem;
}

label[for="second"]:hover {
	background: rgb(163, 146, 166, 1.0);
	transition: all 500ms ease-out;
}

[id="second"]:checked ~ .inner2 {
 	grid-template-rows: 1fr;
}

[id="second"]:checked ~ label.second i {
 	transform: rotate(-180deg);
 	transition: transform 0.5s;
}

.photoGallery {
	display: flex;
	overflow: hidden;
}

.inner2 {
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 0.5s ease-out;
}

/* */
.gallery {
	scroll-margin-top: 2rem;
}

.photoGallery {
	display: flex;
     justify-content: space-evenly;
     width: 100%;
     flex-wrap: wrap;
}

.galleryPic {
	display: flex;
	margin: 0.5rem;
	position: relative;
}

.caption {
	display: flex;
	flex-direction: column;
	z-index: 1;
	position: absolute;
	justify-content: center;
	align-items: center;
	background:rgba(0, 0, 0, 0.4);
	color: seashell;
	opacity: 0; 
           transition:all 500ms ease-in;
           -webkit-transition:all 300ms ease-in-out;
           -moz-transition:all 300ms ease-in-out;
           -o-transition:all 300ms ease-in-out;
           -ms-transition:all 300ms ease-in-out;
    width: 100%;
	height: 100%;
}

.caption:hover {
    opacity:1;
}

.caption p {
	position: relative;
	margin: 1rem;
	text-align: center;
}

.caption a {
	color: white;
}

.caption span {
	position: absolute;
	font-size: 0.7rem;
	left: 1rem;
	bottom: 1rem;
}

.caption .fa-download {
	position: absolute;
	right: 1rem;
	bottom: 1.5rem;
}

.caption .fa-up-right-and-down-left-from-center {
	position: absolute;
	top: 2rem;
	right: 1rem;
	cursor: pointer;
}

.caption i:hover {
	color: lightgrey;
}

/* expanding images */

.caption img {
	position: relative;
	margin: auto;
	opacity: 0;
	z-index: -10;
}

input:checked ~ .photoGalleryLarge {
	opacity: 1;
	z-index: 10;
}

input:checked ~ .caption {
	opacity: 1;
	z-index: 30;
	background: black;
	position: fixed;
	right: 0vw;
	top: 0vh;
}

input:checked ~ .caption img {
	opacity: 1;
}

input:checked ~ .caption p {
	display: none;
}

input:checked ~ .caption span {
	font-size: 1.2rem;
}

/* EPK */
.epk {
	margin-top: 2rem;
	scroll-margin-top: 2rem;
	margin-bottom: 2rem;
}

.epk h3 {
	margin-left: 2rem;
}

/* Writing */
.writing {
	display: flex;
	flex-direction: column;
	background: rgb(163, 146, 166, 1.0);
	width: 94%;
	margin: auto;
	scroll-margin-top: 2rem;
	margin-top: 2rem;
}

#womenMeanBusiness {
	display: flex;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 3rem;
}

#womenMeanBusinessText {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#womenMeanBusiness h3 {
	font-size: 1.8rem;;
}

#womenMeanBusinessText p {
	margin-bottom: 1rem;
	font-size: 1rem;
		margin-right: 2rem;
}

#womenMeanBusinessImages {
	display: flex;
	flex-direction: column;
}

#womenMeanBusinessImages img {
	padding: 1rem;
	margin-left: auto;
	margin-right: auto;
}

#womenMeanBusinessImages span {
	text-align: center;
	font-size: .8rem;
}

#womenMeanBusiness .button {
	margin: auto;	
}

/*Desktop*/
@media only screen and (min-device-width:641px) {

section h2 {
	margin-left: 4rem;
}

/* Gallery */

.galleryPic {
	min-width: 200px;
	height: 320px;
}

.galleryPic img {
	object-fit: contain;
	overflow: hidden;
}

.caption p {
	top: 72%;
}

input:checked ~ .caption {
	width: 100vw;
	height: 100vh;
	top: ;
}

input:checked ~ .caption img {
	width: 55%;
	margin: 1rem;
}

.writing h2 {
	margin-left: 1.5rem;
	margin-top: 1rem;
}

#womenMeanBusiness {
	flex-direction: row;
}


#womenMeanBusinessText {
	width: 72%;
	margin-left: 1rem;
}

#womenMeanBusinessImages {
	width: 25%;
}

#womenMeanBusinessImages img {
	width: 90%;
}

footer {
	position: relative;
}


}

/* Mobile */
@media only screen and (max-device-width: 640px) {

section h2 {
	margin-left: 1rem;
}

/* Gallery */
.gallery {
	display: flex;
	flex-direction: column;
}

.galleryPic {
	flex-direction: column;
	min-width: 200px;
	width: 320px;
}

.galleryPic img {
	object-fit: contain;
	overflow: hidden;
}

.caption p {
	top: 60%;
}

input:checked ~ .caption {
	width: 100vw;
	height: 100vh;
	top: 0vh;
}

input:checked ~ .caption img {
	width: 92vw;
	margin: 1rem;
}

input:checked ~ .caption .fa-download {
	bottom: 5.5rem;
}

input:checked ~ .caption span {
	bottom: 4.5rem;
	overflow-y: hidden;
}

.writing h2 {
	margin-bottom: 1rem;
	margin-top: 1rem;
}

#womenMeanBusiness {
	flex-direction: column-reverse;
	width: 88%;
	justify-content: center;
	margin: auto;
}

#womenMeanBusinessText {
	width: 100%;
}

#womenMeanBusiness h3 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

#womenMeanBusinessImages {
	width: 100%;
}

#womenMeanBusinessImages img {
	width: 95%;
}


}