* {
	padding: 0;
	margin: 0;
}

html {
	font-family: Futura, sans-serif;
	font-size: 16px;
	background-color: rgb(183, 166, 186, 1.0);
	color: whitesmoke;
	scroll-behavior: smooth;
}

@font-face {
    font-family: 'Lulo Clean Outline Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Lulo Clean Outline Bold'), url('https://naomi-nakanishi.vercel.app/resources/lulo-clean-webfont/Yellow Design Studio - Lulo Clean Outline Bold.woff') format('woff');
}

a {
	text-decoration: none;
	color: whitesmoke;
}

li {
	text-decoration: none;
	list-style-type: none;
	font-family: 'Avenir Light';
}

li:hover {
	color: rgb(149, 106, 176);
	transition: all 300ms ease-out;
}

a:hover {
	color: rgb(149, 106, 176);
	transition: all 300ms ease-out;
}

#active {
	color: rgb(149, 106, 176);
}

.button {
	display: flex;
	width: 150px;
	height: 30px;
	border: solid white 2px;
	align-items: center;
	justify-content: center;
	margin: 10px;
}

.button i {
	margin-left: 7px;
}

.button:hover {
	background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px) opacity(0.6);
  transition: all 500ms ease-out;
  color: white;
}

/* Header */
header {
	display: flex;
	width: 100%;
	align-items: center;
}

header h1 {
	 font-family: 'Lulo Clean Outline Bold';
    font-style: normal;
    font-weight: normal;   
}

nav ul {
	display: flex;
}

.desktop nav li {
	font-size: 1.2rem;
	margin-left: 1.3rem;
}

.active {
	color: rgb(149, 106, 176);
}

/* Media drop down */
input[type=checkbox] {
  display: none;
}

.mediaDropDown {
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background:;
}

nav.mediaDropDown {
	align-items: center;
	overflow: hidden;
	background-color:;
  	backdrop-filter:;
}

.mediaDropDown li a {
	color: ;
}

li i {
	margin-left: 0.3rem;
}

label {
	cursor: pointer;
}

[id="media"]:checked ~ .innerMedia {
 	grid-template-rows: 1fr;
 }

[id="media"]:checked ~ label i {
 	transform: rotate(-180deg);
 	transition: transform 0.5s;
}

.innerMedia {
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 0.5s ease-out;
	position: ; /* absolute = would overlap */
	z-index: 30;
}
/* */

/* Footer */
footer {
	position: relative;
	bottom: -2rem;
 display: flex;
 height: 3rem;
}

#copyright {
	display: flex;
	margin: auto;
	margin-top: .5rem;
	margin-bottom: .5rem;
}

/*Desktop*/
@media only screen and (min-device-width:641px) {

header.mobile {
	display: none;
}

header.desktop {
	height: 5rem;
	flex-direction: row;
	position: ;
}

main {
	
}

.desktop nav {
	position: relative;
	margin-right: 4rem;
	margin-left: auto;
}

.socialLinks {
	position: absolute;
	top: 3.7rem;
	right: 3.5rem;
}

.socialLinks ul {
	display: inline-flex;
}

.socialLinks li {

	margin: 0.5rem;
}

#title {
	position: relative;
	text-align:;
	margin-left: 4rem;
	margin-bottom: ;
}

#title h1 {
	font-size: 2rem;
}

nav.media {
	position: absolute;
	right: 4rem;
}

nav.media ul {
	display: flex;
	flex-direction: row;
}

nav.mediaDropDown li {
	margin-top: .35rem;

}

.innerMedia {
	right: 17rem; /* positioning */
	top: 1.7rem;
	margin-left: ;
	position: absolute;
}

nav.mediaDropDown {
	width: 8.5rem;
}

nav.mediaDropDown ul{
	display: flex;
	flex-direction: column;
	align-items: center;
}


}

/* Mobile */
@media only screen and (max-device-width: 640px) {


header.desktop {
	display: none;
}

header.mobile {
  height: 9rem;
  position: static;
  display: flex;
}

header.mobile h1 {
	margin-top: 1rem;
}

.socialLinks {
	display: inline-flex;
	position: absolute;
	width: 100%;
	margin: auto;
	position: ;
	top: .8rem;
	transform: scale(.8);


}


.socialLinks ul {
	display: inline-flex;
	margin-left: auto;
	margin-right: auto;
}

.socialLinks li {
	list-style-type: none;
	text-decoration: none;
	margin: 0.2rem;
}

header.mobile h1 {
	position: relative;
  font-size: 1.5rem;
  margin-left: 1.2rem;
  top: -.6rem;
}

nav.menu li {
	margin: 0.3rem;
}

.innerMedia {
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 0.5s ease-out;
	top: 3rem;
}


[id="mediaMobile"]:checked ~ .innerMedia {
 	grid-template-rows: 1fr;
}

.mediaDropDown {
	overflow: scroll;
}

nav.mediaDropDown ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 17rem;
	margin: 1rem;
		background: grey;
	border: 2px solid white
}

nav.mediaDropDown li a {
	color: white;

}


/* Responsive mobile nav*/

nav.mobile ul {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

nav.mobile li {
  margin: 2.5rem;
  list-style-type: none;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  position: relative;
}

.hamb {
  cursor: pointer;
  margin-left: auto;
  margin-right: 0.7rem;
  margin-top: -0.8rem;
  padding: 20px 5px;
  z-index: 20;
}

.hamb-line {
  background: white;
  color: white;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

.hamb-line::before,
.hamb-line::after{
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 7px;
} 

.hamb-line::after {
    top: -7px;
}

.side-menu {
    display: none;
}

nav {
  display: none;
}

.side-menu:checked ~ nav {
  display: flex;
  width: 100%;

  align-items: center;
  justify-content: space-between;
  z-index: 10;
  position: absolute;
  top: 7rem;
  background: black;
  overflow: scroll;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

}